*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    height: 100%;
  }

  a,
a:visited {
  color: #252934;
  font-size: 1.4rem;
  text-decoration: none;
  transition: 200ms;
}

a:hover,
a:active {
  color: #f300b4;
}

body {
    color: #252934;
    background: #fafafa;
    font-size: 62.5%;
    font-family: 'Source Code Pro', monospace;
    overflow-x: hidden;
}